#botArmy{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 0px;
        
}
#botCollection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 6px; 
    grid-row-gap: 10px;
    background-color: rgb(173, 24, 24);
    padding: 10px;

}
.bot-card {
    max-width: 280px;
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
    background-color: white;
  }
  
  .bot-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .catchphrase {
    font-style: italic;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
